/* ----------------------------
	Typo
---------------------------- */

@import url("https://fonts.googleapis.com/css?family=Roboto");

body,
textarea,
input {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

/* ----------------------------
	STRUCTURE
---------------------------- */
html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  background-color: #262626;
}
.connexionBox {
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.connexion {
  max-width: 500px;
  font-size: 24px;
}
.connexion > .button {
  max-width: 500px;
}
.connexion > * {
  width: 100%;
}
.connexion > input {
  box-sizing: border-box;
  font-size: 24px;
  padding: 5px;
  border: 5px solid #41ef90;
  border-width: 0 0 5px 0;
  outline: none;
}
.box {
  margin: auto;
  /* display: flex; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* align-items: flex-end; */
  width: 100%;
  /* max-width: 50rem; */
  /* height: calc(100vh - 100px); */
  /* padding: 20px 0; */
}

header {
  text-align: center;
  background-color: #262626;
  color: white;
  box-shadow: 0px 2rem 2rem rgba(0, 0, 0, 0.2);
  /* margin-bottom: 5px; */
  /* padding: 2rem; */
}
header h1 {
  margin: 0;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.chatbox {
  background-color: #fff;
  padding: 0 2rem;
}

/* ----------------------------
	CONNECTION
---------------------------- */

.connexionTitle {
  text-align: center;
  color: #fff; 
  font-weight: bold;
  text-shadow: 0px 3px 5px rgba(255, 255, 255, 0.2);
}

/* input:first-of-type {
  margin: 1rem 0;
} */

/* ----------------------------
	MESSAGES
---------------------------- */

.messages {
  flex: 1 1 100%;
  /*border: 5px solid red;*/
  box-sizing: border-box;
  align-self: flex-end;
  max-height: calc(100vh - 310px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.messages::-webkit-scrollbar {
  width: 0.4em;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #eceff1;
}

/* ----------------------------
	MESSAGE
---------------------------- */

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message > * {
  padding: 5px 10px;
  max-width: 75%;
  border-radius: 2px;
  margin: 10px 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.not-user-message {
  background-color: #eceff1;
  align-self: flex-start;
  position: relative;
  padding: 1rem;
}

.not-user-message:after {
  content: "";
  position: absolute;
  top: -7px;
  left: 10px;
  width: 0;
  border-width: 0 10px 7px 0;
  border-style: solid;
  border-color: #eceff1 transparent;
}

.user-message {
  background-color: rgba(67, 239, 144, .8);
  color: #fff;
  align-self: flex-end;
  position: relative;
  padding: 1rem;
}

.user-message:after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: 10px;
  width: 0;
  border-width: 7px 0 0 10px;
  border-style: solid;
  border-color: rgba(67, 239, 144, .8) transparent;
}

/* ----------------------------
	FORM
---------------------------- */

.form {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  padding: 2rem 0;
  border-top: 1px solid #262626;
}

/* .form > * {
  width: 100%;
} */

input {
  flex: 0 0 75%;
  box-sizing: border-box;
  /* height: 120px; */
  border: 5px solid #41ef90;
  border-width: 0 0 5px 0;
  background-color: #eceff1;
  outline: none;
  font-size: 20px;
  /* padding: 5px 10px; */
}

.info {
  text-align: right;
  padding-right: 5px;
}

.form__submit {
  align-self: center;
  padding: 1.5rem;
  background-color: #41ef90;
  text-align: center;
  border-radius: 5rem;
  cursor: pointer;
  margin-left: 1rem;
  border: none;
  transition: all .2s ease;
}

.form__submit:hover {
  opacity: .6;
}

/* button {
  font-size: 20px;
  border: none;
  color: white;
  background-color: #2196f3;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
} */

button:disabled {
  background-color: #eceff1;
  cursor: not-allowed;
  color: white;
}

.button {
  border: none;
  border-radius: 4px;
  color: #000;
  display: flex;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 1rem auto;
  max-width: 20rem;
  padding: 0.75rem 1rem;
  position: relative;
  transition: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.btn-green {
  background: #41ef90;
  box-shadow: 0 4px #1e9554;
}
.btn-green:hover {
  box-shadow: 0 2px #1e9554;
  color: #000000b3;
  top: 2px;
}

.button:active {
   box-shadow: none!important;
   color: #00000080;
   top: 4px;
}
/* ----------------------------
	NotFound
---------------------------- */

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #eceff1;
}
